
/* Your CSS Code here. */
body {
    font-family: Arial, sans-serif;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    text-align: center;
}

section {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}